@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)

  @Html.LabelFor(model => model.Address)
  @Html.TextBoxFor(model => model.Address)

  @Html.LabelFor(model => model.PreferredStyle)
  @Html.TextBoxFor(model => model.PreferredStyle)

  @Html.LabelFor(model => model.Treatments)
  @Html.TextBoxFor(model => model.Treatments)

  @Html.LabelFor(model => model.Stylists)
  @Html.DropDownList("StylistsId")

  <input type="submit" value="Add new client" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>