@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="jumbotron">
<h2>Edit Clients</h2>
</div>

<h4>Edit this client: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.LabelFor(model => model.Phone)
  @Html.EditorFor(model => model.Phone)

  @Html.LabelFor(model => model.Address)
  @Html.EditorFor(model => model.Address)

  @Html.LabelFor(model => model.PreferredStyle)
  @Html.EditorFor(model => model.PreferredStyle)

  @Html.LabelFor(model => model.Treatments)
  @Html.EditorFor(model => model.Treatments)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to client list", "Index")</p>